.account-container {
    background-color: #FFFFFF;
    border-color: #6C5F5B;
    border-style: solid;
    border-width: 5px;
    margin: 30px;
    height: calc(100vh - 70px);
    overflow: auto;
    margin-left: 270px;
    text-align: center;
}

.account-text-container {
    display: inline-block;
    padding-top: 40px;
}

.account-button-container {
    text-align: right;
    padding: 40px;
}

.account-text {
    padding: 30px 90px;
    background-color: #ACD0C0;
    border: 0px solid;
    border-bottom: 5px solid #6C5F5B;
    border-radius: 25px 0px;
}

.user-info-text {
    padding-top: 10px;
}

.account-exit-button {
    text-decoration: none;
    color: #000000;
    width: 260px;
    padding: 20px;
    background-color: #ACD0C0;
    border: 0px solid;
    display: inline-block;
    border-bottom: 5px solid #6C5F5B;
    border-radius: 25px 0px;
    box-sizing: border-box;
    font-family: Helvetica;
    font-size: 16px;
}

.account-exit-button:hover {
    background-color: #CDAB81;
}